
.post{

    color: #444;

    .title{
        margin: 1.5rem 0 1rem;
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .meta{
        color: $tags-color;
        font-size: .9rem;
    }

    .post-content{
        margin: 3rem 0;
        font-size: 1.1rem;
        line-height: 2rem;

        p + p { padding-top: 1.5rem; }

        h3{
        margin: 3rem 0 .5rem;
        font-size: 1.3rem;
        line-height: 1.8rem;
        }

        hr{ 
        background:#ddd;
        height:1px;
        border:0;margin-bottom: 1rem; 
        }

        img{
            max-width: 100%;
        }
    }
}

.highlight{
    margin: 1rem 0;
    padding: 1.5rem;
    border-radius: 1rem;
    background: $selection-color;
    overflow: scroll;
}

blockquote{
    margin: 1rem 0;
    padding: 1.5rem;
    border: 1px solid #eee;
    border-radius: .5rem;
    background-color: #fcfcfc;
}


[data-theme= 'dark']{
    .post{
        color: $text-color-b;
    }
    .meta {
        color: rgba($text-color-b, .5);
    }

    .highlight{ 
        color: $text-color;
    }
}
