.post-content > :last-child {
  margin-bottom: 0;
}
article,
.comments {
  float: left;
  width: 100%;
}
article {

  margin: 1rem 0;

  .title{
    margin: 1rem 0 .5rem;
  }
  .subtitle {
    font-size: 1.45em;
    font-weight: normal;
    margin: 0;
  }
  header {
    margin-bottom: 1rem;
    text-align: left;
  }
  a {
    @extend .body-link;
  }
  .footnotes {
    font-size: 0.9em;
  }
  .post-excerpt{ color: $search-color; }
}
header {
  h1 {
    margin: 0;
  }
}
.meta {
  color: rgba($text-color, .5);
  font-size: 0.8em;
  letter-spacing: 0.1em;
  margin: 0;
  text-transform: uppercase;
}
.feature-image {
  padding: 0%;
  .post-link {
    color: $feature-image-text-color;
  }
  header {
    color: $feature-image-text-color;
    background-size: $feature-image-size;
    margin-bottom: 0;
    padding: $padding-large/2.5 $padding-large;
    .meta {
      color: rgba($feature-image-text-color, .7);
    }
  }
  .post-content {
    @extend %padding-regular;
  }
}

.highlighter-rouge{ 
  margin-bottom: 1rem;
}
.highlight{
  padding: .5rem;
  background: $code-back-color;
  font-size: 1rem;
}
.language-plaintext{
  margin:0 .1rem;
  padding: 0.2rem 0.5rem;
  background: $code-back-color;
  border-radius: 0.3rem;
  color: $link-color;
}



[data-theme= 'dark']{
  .meta {
    color: rgba($text-color-b, .5);
  }

  .highlight{ 
    color: $text-color;
   }
}
