.tag-title {
    color: $tags-color;
    margin-bottom: 1rem;
}
.tagged-post {

    margin-bottom: .5rem;

    .title {
        font-size: 1.1rem;
        margin-top: 0;
        margin-bottom: .3rem;
    }
}


.tagList{

    position: sticky;
    top: 0;
    z-index: 2;
    padding: 1rem 0;
    background: $background-color;

    @media (max-width: $mobile-width) {
        position: static;
        top: auto;
    }

    .box{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: .5rem;

        a{
            padding: .5rem 1rem;
            display: inline-block;
            border: 2px solid $brand-color;
            border-radius: 10rem;
            font-weight: 500;
            font-size: .9rem;
            color: $brand-color;
            transition: .3s;

            &:hover{
                background: $brand-color;
                color: #fff;
            }
        }
    }
}

[data-theme= 'dark']{

    .tagList{
        background: $background-color-b;

        .box{
            a{
                background: #fff;
            }
        }
    }
}