---
layout: default
---

<div class="home">
    {% if site.theme_settings.header_text %}
    <div class="call-out"
    style="background-image: url('{{ site.baseurl }}/{{ site.theme_settings.header_text_feature_image }}')">
        {{ site.theme_settings.header_text }}
    </div>
    {% endif %}

    <div class="info">
        <div class="container">
        <div class="box">
            <div class="images">
            <img src="/assets/img/me.png">
            </div>
            <div class="content">
                <!-- <p><span>name:</span> "Jeon YiJeong"</p>
                <p><span>description:</span> "탐구를 즐기는 개발자입니다 🥴"</p>
                <p><span>role:</span> [ "UI Developer", "UI&UX Designer" ]</p>
                <p><span>createAt:</span> 950203</p> -->
                <p class="description">탐구를 즐기는 개발자 🥴</p>
                <p class="name">UI Developer 전이정</p>
                <ul class="link">
                <li>
                    <a href="https://github.com/yi-jeong" target="_blank">
                    <svg aria-hidden="true" height="24" viewBox="0 0 16 16" version="1.1" width="24" data-view-component="true" class="octicon octicon-mark-github">
                        <path d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z"></path>
                    </svg>
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                    <img src="/assets/img/notion-logo.png" width="24px" alt="" />
                    </a>
                </li>
                </ul>
            </div>
        </div>
        </div>
    </div>

    <div class="posts">
        <div class="container">
        <h2 class="tit">
            <span>톺아보기</span>
        </h2>
            {% assign counter = 0 %}
            {% for post in site.posts %}
                {% if post.categories contains 'study' %}
                {% assign counter = counter | plus: 1 %}
                <div class="post-content">
                <a class="post-link" href="{{ post.url | relative_url }}">
                    <div class="box">
                    <div class="images">
                        {% if post.feature-img %}
                        <img src="{{ post.feature-img }}" alt="{{ post.title }}">
                        {% endif %}
                    </div>
                    <div class="content">
                        <div class="tags">
                        {% if post1.tags %}
                            {% for tag in post.tags %}
                            <span class="post-tag"># {{ tag }}</span>
                            {% endfor %}
                        {% endif %}
                        </div>
                        <h3>{{ post.title }}</h3>
                        <p class="meta">
                        {{ post.date | date: "%B %-d, %Y" }}
                        </p>
                    </div>
                    </div>
                </a>
                </div>
                {% if counter >= 3 %}
                    {% break %}
                {% endif %}
                {% endif %}
            {% endfor %}
        <div class="more"><a href="{{ site.baseurl }}/category/Study.html"><span class="plus">+</span> 게시글 더보기</a></div>
        </div>
    </div>

    <div class="diarys">
        <div class="container">
        <h2 class="tit">
            <span>개인기록장</span>
        </h2>
        {% for post in paginator.posts %}
            {% if post.categories contains 'diary' %}
            <div class="post-content">
            <a class="post-link" href="{{ post.url | relative_url }}">
                <div class="content">
                    <h3>{{ post.title }}</h3>
                    <p class="meta">
                    {{ post.date | date: "%B %-d, %Y" }}
                    </p>
                </div>
            </a>
            </div>
            {% endif %}
        {% endfor %}
        <div class="more"><a href="{{ site.baseurl }}/category/Diary.html"><span class="plus">+</span> 기록장 더보기</a></div>
        </div>
    </div>

  <!-- {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url | replace: '//', '/' }}" class="button" >
      <i class="fa fa-chevron-left"></i>
      {{ site.theme_settings.str_previous_page }}
    </a>
    {% endif %}
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url | replace: '//', '/' }}" class="button" >
      {{ site.theme_settings.str_next_page }}
      <i class="fa fa-chevron-right"></i>
    </a>
    {% endif %}
  </div>
  {% endif %} -->
</div>
