@font-face {
    font-family: "Pretendard";
    font-weight: 800;
    font-display: swap;
    src: local("Pretendard ExtraBold"),url(../../assets/fonts/Pretendard-ExtraBold.subset.woff2) format("woff2"),url(../../assets/fonts/Pretendard-ExtraBold.subset.woff) format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 700;
    font-display: swap;
    src: local("Pretendard Bold"),url(../../assets/fonts/Pretendard-Bold.subset.woff2) format("woff2"),url(../../assets/fonts/Pretendard-Bold.subset.woff) format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 600;
    font-display: swap;
    src: local("Pretendard SemiBold"),url(../../assets/fonts/Pretendard-SemiBold.subset.woff2) format("woff2"),url(../../assets/fonts/Pretendard-SemiBold.subset.woff) format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 500;
    font-display: swap;
    src: local("Pretendard Medium"),url(../../assets/fonts/Pretendard-Medium.subset.woff2) format("woff2"),url(../../assets/fonts/Pretendard-Medium.subset.woff) format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 400;
    font-display: swap;
    src: local("Pretendard Regular"),url(../../assets/fonts/Pretendard-Regular.subset.woff2) format("woff2"),url(../../assets/fonts/Pretendard-Regular.subset.woff) format("woff")
}

@font-face {
	font-family: 'GmarketSans'; 
    font-weight: 700;
	src: url('../../assets/fonts/GmarketSansTTFBold.ttf') format('woff2'),
		url('../assets/fonts/GmarketSansTTFBold.ttf') format('truetype');
}

@font-face {
	font-family: 'GmarketSans';
    font-weight: 300;
	src: url('../../assets/fonts/GmarketSansTTFLight.ttf') format('woff2'),
		url('../../assets/fonts/GmarketSansTTFLight.ttf') format('truetype');
}