
html{

}

[data-theme= 'dark']{

    background: $background-color-b;
    color: $text-color-b;

    body {
        color: $text-color-b;
    }

    a{
        color: $text-color-b;
    }

    th{
        border-bottom: 1px solid $border-color-b;
    }

    hr{
        border-top: 1px solid $border-color-b;
    }
}